body{
    height: 100vh;
    width: 100vw;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
nav{
    color: white;
    background-image: url('navImage.png');
    background-position: left bottom;
    widows: 100vw;
    height: 175px;
    background-size: cover; 
    
}
.grid-container {
    display: grid;
    grid-template-columns: 25% 50% auto;
    height: 100%;
    font-family: 'Shadows Into Light', cursive;
  }
 
  .icon{
    
      margin-bottom: 10px;
      margin-top: 20px;
      width: 90%;
  }
 
  a:link, a:visited {
    color:black;
   
    text-decoration: none;
    display: inline-block;
  }
  .inner-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .inner-grid-item{
    font-size: 1.75em;
    margin: auto;
  }
  .content-grid-container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin-top: 4%
  }
  .text-area{
    background-color: rgb(255,255,255,.6);
    padding:2%;
    /* height: 65vh; */
  }
  #guy{
    width: 400px;
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
  }
 p{
  text-indent:40px;
  margin-bottom:10px;
  font-size: 20px;
 }
  @media only screen and (max-width: 1000px) {
    .grid-container{
      grid-template-columns: 0% 100% 0%;
      padding-right: 4%
    }
    #guy{
      float: none;
      width: 100%;
    }
    .content-grid-container{
      display: grid;
      grid-template-columns: 7.5% 85% 7.5%;
      margin-top: 4%;
      margin-bottom:4%;
      
    }
    
  }

  @media only screen and (max-width: 700px) {
    nav{
      height: 110px;
    }
    .inner-grid-item{
      font-size: 1.5em;
    }
  }